on init
# set default schedTune value for foreground/top-app (only affects EAS)
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.boost 10

on late-fs
# boot time fs tune
	write /sys/block/sda/queue/iostats 0
	write /sys/block/sda/queue/scheduler cfq
	write /sys/block/sda/queue/iosched/slice_idle 0
	write /sys/block/sda/queue/read_ahead_kb 2048
	write /sys/block/sda/queue/nr_requests 256
	write /sys/block/sde/queue/iostats 0
	write /sys/block/sde/queue/scheduler cfq
	write /sys/block/sde/queue/iosched/slice_idle 0
	write /sys/block/sde/queue/read_ahead_kb 2048
	write /sys/block/sde/queue/nr_requests 256 

on boot
# update cpusets now that processors are up
	write /dev/cpuset/top-app/cpus 0-7
	write /dev/cpuset/foreground/cpus 0-7
	write /dev/cpuset/foreground/boost/cpus 0-7
	write /dev/cpuset/background/cpus 0-7
	write /dev/cpuset/system-background/cpus 0-7
# set default schedTune value for foreground/top-app (only affects EAS)
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.boost 10

on property:sys.post_boot.parsed=1
# Enable Adaptive LMK
#	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
#	write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,51256,150296,200640"
#	write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 162500

# Start IOP
#	start iop

# Disable thermal bcl hotplug to switch governor
#	write /sys/module/msm_thermal/core_control/enabled 0

# Online CPU4
#	write /sys/devices/system/cpu/cpu4/online 1

# Will only work if using EAS
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"

	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000

# Enable thermal bcl hotplug to switch governor
#	write /sys/module/msm_thermal/core_control/enabled 1

# Enable input boost configuration
	write /sys/module/cpu_boost/parameters/input_boost_freq "0:1094400 1:0 2:0 3:0 4:1056000 5:0 6:0 7:0"
	write /sys/module/cpu_boost/parameters/dynamic_stune_boost 50
	write /sys/module/cpu_boost/parameters/input_boost_ms 1500

# VM tuning
#	write /proc/sys/vm/dirty_background_ratio 20
#	write /proc/sys/vm/dirty_expire_centisecs 200
#	write /proc/sys/vm/dirty_ratio 40
#	write /proc/sys/vm/swappiness 0
#	write /proc/sys/vm/vfs_cache_pressure 100

# MISC
	write /sys/sweep2sleep/sweep2sleep 0

# update cpusets now that boot is complete and we want better load balancing
	write /dev/cpuset/top-app/cpus 0-7
	write /dev/cpuset/foreground/boost/cpus 0-3,6-7
	write /dev/cpuset/foreground/cpus 0-3,6-7
	write /dev/cpuset/background/cpus 0-1
	write /dev/cpuset/system-background/cpus 0-3

# end boot time fs tune
	write /sys/block/sda/queue/read_ahead_kb 1024
	write /sys/block/sda/queue/nr_requests 128
	write /sys/block/sda/queue/iostats 1
	write /sys/block/sde/queue/read_ahead_kb 512
	write /sys/block/sde/queue/nr_requests 128
	write /sys/block/sde/queue/iostats 1 

