# Thanks to osm0sis for initial input

on init
	write /dev/stune/schedtune.colocate 0
	write /dev/stune/background/schedtune.colocate 0
	write /dev/stune/system-background/schedtune.colocate 0
	write /dev/stune/foreground/schedtune.colocate 0
	write /dev/stune/top-app/schedtune.colocate 0

# Set default schedTune value for foreground/top-app a init
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.boost 10
	write /dev/stune/top-app/schedtune.prefer_idle 1

on fs
	write /dev/stune/foreground/schedtune.sched_boost_no_override 0
	write /dev/stune/top-app/schedtune.sched_boost_no_override 0

on property:sys.post_boot.parsed=1
    setprop vendor.post_boot.parsed 1

on property:vendor.post_boot.parsed=1
    exec u:r:magisk:s0 root root -- /init.renderzenith.sh
