on init
# set default schedTune value for foreground/top-app (only affects EAS)
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.boost 10

on late-fs
# boot time fs tune
	write /sys/block/sda/queue/iostats 0
	write /sys/block/sda/queue/scheduler cfq
	write /sys/block/sda/queue/iosched/slice_idle 0
	write /sys/block/sda/queue/read_ahead_kb 2048
	write /sys/block/sda/queue/nr_requests 256
	write /sys/block/sde/queue/iostats 0
	write /sys/block/sde/queue/scheduler cfq
	write /sys/block/sde/queue/iosched/slice_idle 0
	write /sys/block/sde/queue/read_ahead_kb 2048
	write /sys/block/sde/queue/nr_requests 256 

on boot
	# Bind mount modules and custom system blobs
	mount auto /renderzenith/WCNSS_qcom_cfg.ini /vendor/etc/wifi/WCNSS_qcom_cfg.ini bind
	mount auto /renderzenith/perfboostsconfig.xml /vendor/etc/perf/perfboostsconfig.xml bind
	mount auto /renderzenith/msm_irqbalance.conf /vendor/etc/msm_irqbalance.conf bind
	mount auto /renderzenith/modules/br_netfilter.ko /system/lib/modules/br_netfilter.ko bind
	mount auto /renderzenith/modules/mpq-adapter.ko /system/lib/modules/mpq-adapter.ko bind
	mount auto /renderzenith/modules/mpq-dmx-hw-plugin.ko /system/lib/modules/mpq-dmx-hw-plugin.ko bind
	mount auto /renderzenith/modules/rdbg.ko /system/lib/modules/rdbg.ko bind
	mount auto /renderzenith/modules/tspp.ko /system/lib/modules/tspp.ko bind
	mount auto /renderzenith/modules/msm_11ad_proxy.ko /system/lib/modules/msm_11ad_proxy.ko bind
	mount auto /renderzenith/modules/msm_11ad_proxy.ko /vendor/lib/modules/msm_11ad_proxy.ko bind
	mount auto /renderzenith/modules/wil6210.ko /system/lib/modules/wil6210.ko bind
	mount auto /renderzenith/modules/wil6210.ko /vendor/lib/modules/wil6210.ko bind
	mount auto /renderzenith/modules/wlan.ko /system/lib/modules/qca_cld3_wlan.ko bind
	mount auto /renderzenith/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind

# update cpusets now that processors are up
	write /dev/cpuset/top-app/cpus 0-7
	write /dev/cpuset/foreground/cpus 0-7
	write /dev/cpuset/foreground/boost/cpus 0-7
	write /dev/cpuset/background/cpus 0-7
	write /dev/cpuset/system-background/cpus 0-7
# set default schedTune value for foreground/top-app (only affects EAS)
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.boost 1
	write /dev/stune/top-app/schedtune.dynamic_boost 0

on property:sys.post_boot.parsed=1
# Adjust LMK Values
	write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,32256,55296,80640"

# Will only work if using EAS
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"

	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1

# Enable input boost configuration
	write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
	write /sys/module/cpu_boost/parameters/dynamic_stune_boost 0
	write /sys/module/cpu_boost/parameters/input_boost_ms 150

# MISC
	write /sys/sweep2sleep/sweep2sleep 0

# update cpusets now that boot is complete and we want better load balancing
	write /dev/cpuset/top-app/cpus 0-7
	write /dev/cpuset/foreground/boost/cpus 0-3,6-7
	write /dev/cpuset/foreground/cpus 0-3,6-7
	write /dev/cpuset/background/cpus 0-1
	write /dev/cpuset/system-background/cpus 0-3

# end boot time fs tune
	write /sys/block/sda/queue/read_ahead_kb 1024
	write /sys/block/sda/queue/nr_requests 128
	write /sys/block/sda/queue/iostats 1
	write /sys/block/sde/queue/read_ahead_kb 512
	write /sys/block/sde/queue/nr_requests 128
	write /sys/block/sde/queue/iostats 1 

	# Toggle Sched Features
	write /sys/kernel/debug/sched_features "NO_FBT_STRICT_ORDER"

